html { background-color: yellow; }
#angle { font-size: 200%; position: fixed; bottom: 5px; left: 5px; }
#fps { font-size: 200%; position: fixed; bottom: 5px; right: 5px; }
.player {
  position: absolute;
  top: 200px;
  left: 200px;
}
#charge {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
#chargeFill {
  background-color: black;
  height: 100%;
  width: 0;
}
canvas#game {
  background-color: blue;
}